[submodule "6-Working-with-the-Web-Presentation"]
	path = 6-Working-with-the-Web-Presentation
	url = git@github.com:c4arl0s/6-Working-with-the-Web-Presentation.git
[submodule "7-Prototyping-and-Project-Planning"]
	path = 7-Prototyping-and-Project-Planning
	url = git@github.com:c4arl0s/7-Prototyping-and-Project-Planning.git
[submodule "5-Tables-and-Persistence-Presentation"]
	path = 5-Tables-and-Persistence-Presentation
	url = git@github.com:c4arl0s/5-Tables-and-Persistence-Presentation.git
[submodule "4-Building-AR-Apps-with-Xcode-Presentation"]
	path = 4-Building-AR-Apps-with-Xcode-Presentation
	url = git@github.com:c4arl0s/4-Building-AR-Apps-with-Xcode-Presentation.git
[submodule "3-Navigation-And-Workflows-Presentation"]
	path = 3-Navigation-And-Workflows-Presentation
	url = git@github.com:c4arl0s/3-Navigation-And-Workflows-Presentation.git
[submodule "2-Introduction-to-UIKit-Presentation"]
	path = 2-Introduction-to-UIKit-Presentation
	url = git@github.com:c4arl0s/2-Introduction-to-UIKit-Presentation.git
[submodule "1-Getting-Started-With-App-Development-Presentation"]
	path = 1-Getting-Started-With-App-Development-Presentation
	url = git@github.com:c4arl0s/1-Getting-Started-With-App-Development-Presentation.git
[submodule "8-Working-with-the-Web-async-and-await-concepts-Presentation"]
	path = 8-Working-with-the-Web-async-and-await-concepts-Presentation
	url = git@github.com:c4arl0s/8-Working-with-the-Web-async-and-await-concepts-Presentation.git
[submodule "9-Advanced-Data-Display-Presentation"]
	path = 9-Advanced-Data-Display-Presentation
	url = git@github.com:c4arl0s/9-Advanced-Data-Display-Presentation.git
